.companiesContainer{
    margin-top: 5%;
    position: relative;
    height: 100vh;
}

.companiesInner{
    margin: 0 auto;
    margin-top: 10%;
    width: 94%;
}

h1{
    font-size: 1.2em;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
  }

  .companiesTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3em 0;
  }

  .companiesTop a{
    background-color: black;
    padding: 0.5em 0.7em;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 0.7em;
  }
  table{
    width:100%;
    table-layout: fixed;
    border-radius: 6px;
  }
  .tbl-header table thead{
    background-color: var(--secondary-text);
   }

  .tbl-header {
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    overflow: hidden;
   }

  .tbl-content{
    height:fit-content;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid var(--secondary-text);
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
  }

  .tbl-content .actions, .tbl-header .actions{
    width: 5em !important;
  }

  .tbl-content .dropdown-item{
    display: flex;
    align-items: center;
    gap: 1em;
  }
  .tbl-content .dropdown-item span{
    text-transform: capitalize;
    font-size: 0.8em;
  }
  .actionsKebab{
    cursor: pointer;
  }

  th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
  }
  td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: var(--secondary-text);
    border-bottom: solid 1px rgba(255,255,255,0.1);
  }
  
  
  /* demo styles */
  
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
  body{
    font-family: 'Roboto', sans-serif;
  }
  section{
    margin: 50px;
  }
  
  
  /* follow me template */
  .made-with-love {
    margin-top: 40px;
    padding: 10px;
    clear: left;
    text-align: center;
    font-size: 10px;
    font-family: arial;
    color: #fff;
  }
  .made-with-love i {
    font-style: normal;
    color: #F50057;
    font-size: 14px;
    position: relative;
    top: 2px;
  }
  .made-with-love a {
    color: #fff;
    text-decoration: none;
  }
  .made-with-love a:hover {
    text-decoration: underline;
  }
  
  
  /* for custom scrollbar for webkit browser*/
  
  ::-webkit-scrollbar {
      width: 6px;
  } 
  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  } 
  ::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  }

  .showForm{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .showFormFixed{
    padding: 0;
    top: 0;
    margin: auto;
    position: fixed;
    background: linear-gradient(rgba(255, 255, 255), rgba(255, 255, 255));
    box-shadow: none;
    width: 90%;
    height: 100%;
  }

  .showFormFixedScroll{
    width: 100vw;
    height: 100%;
    overflow: scroll;
    padding: 0;
    background-color: var(--light-blue);
  }