.postFormInputContainer .postFormInputTextarea{
    height: 25% !important;
    color: black;
}

.input-group-array{
    display: flex;
    align-items: baseline;
    gap: 5%;
    width: 100%;
    margin-bottom: 1.5em;
}

.input-group-block{
    width: 50%;
}


.postFormInputContainer50 select{
    width: 50%;
}

.sectionH3{
    margin-top: 2.5%;
    font-size: 2em;
}

.sectionContainer{
    border: 2px solid rgba(211, 211, 211, 1) !important;
    border-radius: 0.6em;
    padding: 2.5% 5% 5% 5%;
    margin-top: 2.5%;
}

.addCompanyBTN{
    border-radius: 0.3em;
    padding: 0.5%;
    background-color: black;
    color: white;
    border: none;
    margin-top: 1%;
}
.postForm hr{
    margin: 4% 0;
}

.btnContainerSection{
    width: 100%;
    display: flex;
    justify-content: center;
}

.postFormInputContainer select, .postFormInputContainer input{
    background-color: rgba(211, 211, 211, 0.7) !important;
    border: none !important;
}

.newSelectInput1{
    width: 50%;
}

.newSelectInput1 select{
    width: 100%;
}

.datepicker{
    width: 50% !important;
    height: fit-content !important;
    border-radius: 1% !important;
}



.react-datepicker__input-container .inputDatePicker{
    width: 100%;
    border: none;
    background-color: rgba(211, 211, 211, 0.7);
    padding: 0 1% !important;
    height: 2em !important;
}

.postFormInputContainer50{
    display: flex;
    gap: 10px;
    flex-direction: column;
    line-height: 50px;
    width: 50% !important;
}

.postFormInputContainer50 select{
    width: 100% !important;
    background-color: rgba(211, 211, 211, 0.7);
}

.allLabelsInForm{
    font-size: 0.91em;
    font-weight: 600;
    font-size: 18px;
}