.postFormInputContainer{
    display: flex;
    gap: 10px;
    flex-direction: column;
    line-height: 50px;
    width: 100%;
}

.postFormInput{
    border: 1px solid var(--secondary-text-thin) !important;
    height: 2%!important;
    border-radius: 4px !important;
    padding-left: 10px !important;
    width: 100% !important;
    background-color: rgba(211, 211, 211, 0.7) !important;
    border: none !important;
}

.postFormInputDate{
    border: 1px solid var(--secondary-text-thin) !important;
    height: 100% !important;
    border-radius: 4px !important;
    padding-left: 10px !important;
    width: 100% !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    display: flex !important;
    align-items: center !important;
    color: var(--secondary-text-thin-post) !important;
    font-weight: 400 !important;
}

.react-datepicker-wrapper{
    height: 40px !important;
}

.react-datepicker__input-container{
    height: 100% !important;
    display: flex !important;
    align-items: center !important;
    padding-bottom: -5% !important;
   
}

.react-datepicker__calendar-icon{
    color: red !important;
}

.postJob{
    width: 100vw;
    height: 100vh;
    display: flex;

}

.postForm{
    width: 80%;
    padding: 5%;
    height: 100%;
}

.postFormInputContainer label{
    font-weight: 600;
    font-size: 18px;
}

.postFormBtn{
    margin-top: 6%;
}

.postFormBtn button{
    background-color: var(--blue);
    color: white;
    padding: 1.5% 10%;
    border-radius: 6px;
    border: none;
    transition: background 0.3s ease-in-out;
}

.postFormBtn button:hover{
    background-color: var(--deep-blue);
}

.addCompanyLabel label{
    font-size:0.91em;
}

.addCompanyLabel input{
    height: 2em !important;
}

.allFormBtnContainers button{
    width: fit-content !important;
    display: flex !important;
    align-items: center !important;
    font-size: 0.9em !important;
    padding: 0.5em 0.8em !important;
    background-color: var(--secondary-text);
    border-radius: 6px;
    border: none;
    color: white;
}

.allFormBtnContainers{
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}