.newsLetterContainer{
    background-color: white;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsLetterHeader h1{
    font-size: 36px;
    letter-spacing: 0.025px;
    width: 100%;
    text-align: center;
}

.newsLetterSubHeader {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    line-height: 25px;
    font-size: 15px;
    margin-top: 20px;
}

.subscribeNewsLetter{
    width: 100%;
    background-color: white;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
}

.subscribeNewsLetterBtn{
    width: 20%;
    margin: 0px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribeNewsLetterBtn button{
    width: 100%;
    border: none;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 400;
    background-color: var(--blue);
    color: white;
    transition: background-color 0.3s ease-in-out;
}

.subscribeNewsLetterBtn button:hover{
    background-color: var(--deep-blue);
}

.subscribeNewsLetterArea{
    width: 70%;
    margin: 0px;
    border: none;
    display: flex !important;
    align-items: center !important;
}

.subscribeNewsLetterArea input{
    width: 100%;
    border: none;
    height: 40px !important;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding-left: 10px !important;
}

.subscribeNewsLetterArea input:focus{
   outline: none;
   border: none;
   margin-right: 10px;
}

.newsLetterSubHeader p{
    color: var(--light-gray);
    letter-spacing: 0.025em;
    font-weight: 200;
}

.newsLetterInner{
    line-height: 50px;
}