.innerFooterItems{
    display: flex;
    gap: 10px;

}

.footerItem{
    width: 25%;
    padding: 10px;
}

.footerHeader{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #b48e41;
    font-family: 'Trirong', serif;
}

.companyText{
    font-size: 0.8em;
    width: fit-content;
    color: #dfc3b4;
}

.footerLinks{
    line-height: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.links{
    font-size: 0.8em;
    margin: 0;
    color: #dfc3b4;
}

.iconLinkFooter{
    display: flex;
    align-items: center;
    gap: 10px;
}

.iconLinkFooter span{
    color: #dfc3b4;
}

.footer{
    background-color: var(--jungle-green);
    color: #b48e41;
    padding: 25px;
}

.footerSocialIcons{
    padding: 1px;
    border: 1px solid #dfc3b4;
    color: #dfc3b4;
    height: 27px;
    width: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.innerFooterBottomRight{
    display: flex;
    align-items: center;
    gap: 10px;
}

.innerFooterBottomLeft p{
    margin: 0;
    font-size: 15px;
    color: #dfc3b4;
}

.innerFooterBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.footerGoDown .footerGoDownIcon{
    display: none;
}

@media screen and (min-width: 320px) and (max-width: 736px) {
    .innerFooterItems{
        flex-direction: column;
    }

    .footerItem{
        width: 100%;
        height: 2.2em;
        border: 1px solid var(--blue);
        border-radius: 0.4em;
        overflow: hidden;
        align-items: center;

    }

    .innerFooterBottom{
        flex-direction: column;
        gap: 1em;
        align-items: flex-start;
    }
    
    .footerGoDown .footerGoDownIcon{
        display: block;
        color: var(--blue);
    }

    .footerGoDown{
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    }

    .footerItemOpen{
        height: fit-content;
        border: 1px solid var(--blue);
        padding: 3%;
        border-radius: 0.4em;
        overflow: hidden;
        align-items: center;
    }
  }