.testimonaialCarousel{
    background-color: var(--light-blue);
    height:450px;
    width: 100%;
    margin-top: 80px;
}


.testimonials .carousel-inner{
    height: 550px;
}  

.testimonialImage{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    margin-bottom: 0px;
    object-fit: cover;
}

.tetimonialsHolder{
    display: flex;
    justify-content: center;
}


.testimonyContent{
    display: block;
    text-align: center;
    color: white;
    width: 100%;
}

.profilePicPosition{
    width: 100%;
    display: flex;
    justify-content: center;
}

.topDecor{
    margin-bottom: 30px;
    color: #202124;
    font-size: 29px;
    font-weight: 400;
}

.topDecor p{
    
}

.userTestimony{
    margin-bottom: 30px;
    color: var(--light-gray);
    letter-spacing: 0.03em;
    font-size: 17px;
}

.testimonyContent{
    padding: 100px;
    padding-top: 90px;
}

.userName{
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.04em;
    color: var(--secondary-text);
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: left;
}
.occupation{
    letter-spacing: 0.04em;
    color: var(--light-gray);
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}

.nameAndPosition{
    height: 100%;
}

.btnDiasabled{
    display: none;
}


.carousel-indicators button{
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
}

.carousel-indicators [data-bs-target] {
    background-color: var(--light-gray) !important;
}

.testimonyActive .active{
    border-radius: 50% !important;
    background-color: black !important;
    padding: 0 !important;
    width: 12px !important;
    height: 12px !important;
}


.testimonaialCarousel .carousel-indicators{
    margin-bottom: 40px !important;
}

.testimonyItem{
    height:550px !important; 
}

.newUserTestimonyFlex{
    display: flex !important;
    align-items: center !important;
    gap: 20px !important;
    width: 100%;
    height: fit-content;
    justify-content: center;
}

@media screen and (min-width: 320px) and (max-width: 736px) {
    .subscribeNewsLetter{
        width: 90%;
        margin: 0 auto;
    }
  }