.loginContainer {
  padding: 1%;
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 1%;
  padding: 1%;
}

.loginLeft {
  width: 50%;
  border-radius: 12px;
  height: 100%;
  display: flex;
  gap: 1%;
  flex-direction: column;
}

.loginUsers {
  height: 10%;
  width: 100%;
  background-color: var(--loginLeft-bg);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 30px;
}

.loginBrand h4 {
  font-weight: 400;
  font-size: 1.3em;
  color: var(--light-gray);
  text-transform: uppercase;
}

.loginBrand {
  margin-bottom: 6%;
}

.loginHeader h1 {
  width: 65%;
  font-weight: 400;
  font-size: 1.8em;
}

.loginP p {
  font-size: 14px;
  color: black;
  width: 90%;
  color: var(--light-gray);
}

.loginP {
  margin-top: 20px;
}

.loginLeftInner {
  width: 100%;
  padding: 10% 0;
  height: 90%;
  border-radius: 12px;
  background-color: var(--loginLeft-bg);
}

.loginLeftPosition {
  width: 70%;
  margin: 0 auto;
}

.loginForm {
  width: 100%;
  margin-top: 30px;
}

.loginForm form {
  width: 90%;
}

.loginForm form input::placeholder {
  color: var(--light-gray);
  font-size: 15px;
  font-style: italic;
}

.loginForm form input:focus {
  outline: none;
  border: none;
}

.loginInputsContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  border-radius: 30vh;
  outline: none;
  border: none;
  margin-bottom: 7%;
  border: 1px solid rgb(211, 211, 211, 0.5);
  background-color: white;
  padding: 0 30px;
  overflow: hidden;
  transition: border-color 0.3s;
}

.loginInputsContainer:focus-within {
  box-shadow: 0 0 5pt 0.5pt var(--boxShadow-blue);
}

.loginInputsContainer span {
  width: 10%;
  color: rgb(157, 157, 157);
}

.loginInputsContainer input {
  width: 90% !important;
  height: 45px;
  margin: 0;
  border: none;
  padding: 5px;
  font-weight: 200 !important;
}

.loginFormBtnContainer {
  width: 100%;
  margin-top: 20px;
}

.loginBtn {
  width: 100%;
}

.loginFormBtnContainer .loginBtn {
  width: 100%;
  height: 45px !important;
  border-radius: 30vh;
  border: none;
  font-size: 14px;
  font-weight: 300;
}

.loginBtn1 {
  background-color: var(--blue);
  color: white;
}

.loginBtn2 {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  border: 1px solid black !important;
  background-color: white;
}

.loginOr {
  width: 100%;
  padding: 0 4px;
  display: flex;
  align-items: center;
  position: relative;
  height: 45px;
  padding: 10px 0;
}

.loginOr p {
  position: absolute;
  font-weight: 100;
  font-size: 15px;
  background-color: var(--loginLeft-bg);
  height: 20px;
  width: 20px;
  top: 25%;
  left: 50%;
  z-index: 20;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.5);
}

.loginLine {
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}

.inquiry {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: 100%;
  padding-top: 7%;
}

.inquiry p {
  font-size: 13px;
}

.inquiry p b {
  color: var(--blue);
  font-style: italic;
}

.loginUserImg {
  height: 50px;
  width: 50px;
  border: 2px solid var(--loginLeft-bg);
  border-radius: 50%;
}

.loginUserImg img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: fill;
}

.loginUserImgContainer {
  display: flex;
  align-items: center;
  position: relative;
  width: fit-content;
}

.loginUserImgAb1 {
  position: absolute;
  left: 60%;
}

.loginUserImgAb2 {
  position: absolute;
  left: 120%;
}

.loginUsersInner {
  display: flex;
  gap: 100px;
  align-items: center;
}

.loginUsersInnerText h5 {
  font-size: 15px;
  margin: 0;
}

.loginUsersInnerIcon {
  border: 1px solid black;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.loginUsersInnerText p {
  font-size: 13px;
  margin: 0;
  color: var(--light-gray);
}

.loginUsersInnerText {
}

.loginRight {
  background: url(../../../public/background.jpg);
  height: 100%;
  width: 50%;
  border-radius: 12px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* LOGIN QUEARY */
@media screen and (min-width: 320px) and (max-width: 736px) {
  .loginContainer {
    flex-direction: column !important;
    height: 100%;
    padding: 3%;
  }

  .loginLeft {
    width: 100%;
    gap: 10%;
    height: 90%;
  }

  .loginRight {
    width: 100%;
    display: none;
  }

  .loginUsers {
    margin-top: 3%;
    height: 10%;
  }
}
/* LOGIN QUEARY */
