.openPositions {
  height: fit-content;
  width: 100%;
}

.openPositionsTopContentContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  height: 20vh;
  margin: 60px 0 60px 0;
}

.openPositionsHeader h2 {
  color: #202124;
  font-size: 29px;
  font-weight: 400;
}

.openPositionsHeader{
    display: flex;
    align-items: center;
    justify-content: center;
}

.openPositionsSubheader p{
    color: var(--light-gray);
    letter-spacing: 0.025em;
    font-weight: 200;
}

.nav-tabs-openJobs-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none !important;
}

.nav-tabs-openJobs{
    display: flex !important;
    gap: 30px !important;
    border: none !important;
}

.nav-tabs-openJobs .nav-link{
    background-color: var(--light-blue) !important;
    color: black;
    border-radius: 14px !important;
    font-weight: 600;
    transition: color background-color 0.3s ease-in-out;
}

.nav-tabs-openJobs .nav-link:hover{
    background-color: var(--blue) !important;
    color: white !important;
}

.nav-tabs-openJobs .active{
    background-color: var(--blue) !important;
    color: white !important;
}

.tab-content-openJobs{
    border: none !important;
}

.seeAllOpenings{
    padding-left: 2%;
}

.seeAllOpenings a{
    font-weight: 600;
    color: black;
}


@media screen and (min-width: 320px) and (max-width: 736px) {
    .seeAllOpenings{
        width: 90%;
        margin: 0 auto;
    }
  }